@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


input,textarea,select{
  @apply rounded-md border-2 border-gray-300 w-full px-1 mb-2;
}
input:focus,textarea:focus{
  @apply border-blue-900;
}
lable{
  @apply font-semibold text-blue-900;
}

td{
  min-width:10vw;
  @apply border-2 p-1 
}
.btn{
  @apply  px-2 py-1 rounded-md text-white justify-center
}
img{
  min-height: 100%;
}
.round{
  z-index: -1;
 @apply h-8 w-8 bg-blue-900 top-0 absolute rounded-full  border-2 md:hidden
}
.round::before{
  content: "";
  box-shadow: 0px -4px 0 0 white;
  left:-12px;
  top: 14px;
  @apply h-3 w-3 absolute bg-blue-900   rounded-tr-full md:hidden ;
}
.round::after{
  content: "";
  box-shadow: 0px -4px 0 0 white;
  right:-12px;
  top: 14px;
  @apply h-3 w-3 absolute bg-blue-900 rounded-tl-full md:hidden;
}

.lground ::before{
  content: "";
  right:12px;
  top: -14px;
  display: absolute;
  @apply h-10 w-10 absolute bg-red-900 
}